@import "tailwindcss";

@theme {
  --color-primary: #2B124C;
  --color-light: #E5E1E6;
  --color-yellow: #FECD4C;
  --color-white: #FFFFFF;
  --font-display: Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-display);
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

main {
  padding-bottom: 4rem;
}

a {
  transition: color 0.3s;
}

.nav-hover-box {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s, color 0.3s;
}

.nav-hover-box:hover {
  background-color: var(--color-yellow);
  color: #2B124C;
}
